.profileTitle {
  font-weight: 200;
  font-size: x-large;
  margin-bottom: 40px;
  padding-bottom: 10px;
  border-bottom: 1px solid black;
}

.profile {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid black;
  padding-bottom: 5px;
  margin-bottom: 40px;
}

.profile__whami {
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  font-weight: 200;
  margin-bottom: 80px;
}
.profile__whami p {
  font-size: small;
}
.email {
  margin-top: 40px;
  font-size: small;
}

.vitae {
  font-weight: 200;
  font-size: x-large;
}

.profile__whami span:first-child {
  margin-top: 30px;
}

.career {
  font-family: "IBM Plex Sans KR", sans-serif;
  font-weight: 200;
  display: flex;
  font-size: small;
  line-height: 25px;
}

.career__first {
  margin-right: 395px;
}

.career p {
  margin-bottom: 40px;
}

.extraTitle {
  font-weight: 200;
  font-size: x-large;
  margin-bottom: 40px;
  padding-bottom: 10px;
  border-bottom: 1px solid black;
}

.extra {
  font-family: "IBM Plex Sans KR", sans-serif;
  font-weight: 200;
  display: flex;
  font-size: small;
  line-height: 25px;
}

.extra__first {
  margin-right: 260px;
}

.extra p {
  margin-bottom: 40px;
}
