.profiletitle {
  font-weight: 200;
  font-size: x-large;
  margin-bottom: 40px;
  padding-bottom: 10px;
  border-bottom: 1px solid black;
}

.profile {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid black;
  padding-bottom: 5px;
  margin-bottom: 40px;
}

.profile__whami {
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  font-weight: 200;
  margin-bottom: 100px;
}
.email {
  margin-top: 40px;
}

.vitae {
  font-family: "IBM Plex Sans KR", sans-serif;
  font-weight: 200;
  font-size: large;
}

.profile__whami span:first-child {
  margin-top: 30px;
}

.career {
  font-family: "IBM Plex Sans KR", sans-serif;
  font-weight: 200;
  display: flex;
  font-size: large;
  line-height: 25px;
}

.career__first {
  margin-right: 150px;
}

.career p {
  margin-bottom: 40px;
}
