.outer {
  width: 1000px;
  height: 660px;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
}

.inner-list {
  display: flex;
  transition: 1s ease-out;
  height: 100%;
}

.inner {
  padding: 0px;
}

.button-list {
  text-align: center;
  margin-top: 10px;
}

.button-list button {
  border: none;
  color: rgb(122, 124, 124);
  background-color: white;
}

.explanation {
  margin-top: 20px;
  font-weight: 200;
  text-align: center;
  font-family: "IBM Plex Sans KR", sans-serif;
  line-height: 25px;
}

.inner img {
  width: 1000px;
  height: 660px;
  object-fit: contain;
}

.btn1 {
  position: absolute;
  left: 0;
  bottom: 50px;
  width: 500px;
  height: 660px;
  opacity: 0;
  z-index: 1;
}

.btn2 {
  position: absolute;
  right: 0;
  bottom: 50px;
  width: 500px;
  height: 660px;
  opacity: 0;
  z-index: 1;
}
