.explanation {
  margin-top: 17px;
  font-weight: 200;
  text-align: center;
  font-family: "IBM Plex Sans KR", sans-serif;
  line-height: 25px;
}

/*어라라*/
button {
  border: 0;
  outline: 0;
  background: transparent;
  cursor: pointer;
}

.slide {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
}

.slide__list {
  display: flex;
  transform: translate(0, 0);
}

.slide__item {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 0 0 100%;
  list-style: none;
}

.slide__image {
  display: block;
  width: 900px;
  height: 600px;
  object-fit: contain;
}

.buttons {
  margin-top: 17px;
  display: flex;
  justify-content: center;
  width: 100px;
  height: calc(100% - 1rem);
}

.buttons__prev,
.buttons__next {
  width: 36px;
  height: 36px;
  background: #fff;
  border-radius: 50%;
}

.paginations {
  margin-top: 35px;
  text-align: center;
}

.pagination {
  width: 12px;
  height: 12px;
  background: rgba(0, 0, 0, 0.04);
  border-radius: 50%;
}

.pagination:not(:last-child) {
  margin-right: 0.5rem;
}

.pagination.on {
  background: #333;
}
