@import "reset.css";
@import "slide.css";
@import "container.css";
@import "title.css";
@import "banner.css";
@import "profile.css";
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR:wght@100;200;300&family=Montserrat:wght@100;200;300;400&family=Red+Hat+Mono:wght@300;400;500&display=swap");
html {
  font-family: "Montserrat", sans-serif;
}
.canvas {
  margin: 0 auto;
  padding: 50px;
  width: 1200px;
}
.hidden {
  display: none;
}

#linkImg {
  width: 100px;
  margin: -50px 0 30px 100px;
}

.fontSize {
  font-size: 14px;
}
